@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter";
  }
}

.chat {
  background-image: url("./assets/background.jpg");
}

.no-chat {
  background-image: url("./assets/no-chat-background.webp");
}
.body-text {
  font-size: 14px;
}

.chat-message {
  font-size: 15px;
}

.header-text {
  font-size: 16px;
  font-weight: 500;
}

.secondary-text {
  font-size: 13px;
  color: #8696a0;
}
